<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Even or Odd</title>
</head>

<body>
    <h1>Your random number is: <%=num%>
    </h1>
    <% if(num%2===0){%>
        <h2>That is an even number!</h2>
        <%}else{%>
            <h2>That is an odd number!</h2>
            <%}%>

                <h3>
                    That number is: <%=num%2===0?'Even':'Odd'%>
                </h3>
</body>

</html>