h1 {
  color: rgb(41, 83, 41);
}

h2 {
  color: magenta;
}

p {
  background-color: rgb(50, 54, 64);
  color: rgb(245, 241, 205);
}

button {
  color: magenta;
  background-color: rgb(243, 234, 150);
}
